<div class="parts-container">
    <% parts.forEach(part => { %>
        <a href="/parts/<%= encodeURIComponent(part.name) %>" >
            <div class="category">
                <h1><%= part.name %></h1>
                <h1><%= part.price %>$</h1>
            </div>
        </a>
    <% }); %>

    <a href="/category/<%= category %>/new">
        <button class="add-category-btn">+</button>
    </a>
</div>