<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
    <link rel="stylesheet" href="/globals.css">
</head>
<body>
    <div>
        <%- include('header') %>
    </div>
    <% if(categories) { %>
        <%- include('components/categories', { categories }) %>
    <% } %>
    <a href="/category/new">
        <button class="add-category-btn">+</button>
    </a>
</body>
</html>