/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }


a, link {
    text-decoration: none;
}

.error {
    color: red;
}

.category-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 5rem;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 10rem;
    border-radius: 15px;
    background: rgb(68, 136, 214);;
    border: 5px solid rgb(26, 67, 115);
    color: rgb(213, 233, 255);
}

.add-category-btn {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
}