<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application | Add Category</title>
        <link rel="stylesheet" href="/globals.css">
    </head>
    <body>
        <%- include('../header') %>
        <%- include('../partials/errors') %>
        <h2 class="form-title">Add a new Category</h2>
        <form action="/category/add" method="POST">
            <label for="categoryName">Category Name:</label>
            <br>
            <input
                type="text"
                id="categoryName"
                name="categoryName"
                value="<%= locals.categoryName || ''%>"
                required
            />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
