<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application | Add Part</title>
        <link rel="stylesheet" href="/globals.css" />
    </head>
    <body>
        <%- include('../header') %> <%- include('../partials/errors') %>
        <h2 class="form-title">Admin Password Check</h2>
        <form action="/auth" method="POST">
            <label for="adminPassword">Admin Password:</label>
            <br />
            <input
                type="text"
                id="adminPassword"
                name="adminPassword"
                required
            />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
